/* Import Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", sans-serif;
}


:root {
  --background-color: #000;
  --main-color: #202020;
  --main-color2: #343434;
  --blue-color: #2c92ff;
  --blue-color2: #1179e9;
  --white-color: #fff;
}


body {
  background: var(--background-color);
}

.letterBox {
    height: 10vh;
    width: 10vh;
    color: red;
    position: absolute;
    background-color: var(--blue-color);
    border-radius: 1vh;
    border: 1vh solid var(--white-color);
    font-size: 8vh;
    line-height: 8vh;
    text-align: center;
    font-weight: 900;
}

.position1 {
    top: 1vh;
    left: calc(50vw - 5vh);
}

.position2 {
    top: 11vh;
    left: calc(50vw - 5vh);
}

.position3 {
    top: 21vh;
    left: calc(50vw - 5vh);
}

.position4 {
    top: 31vh;
    left: calc(50vw - 5vh);
}

span {
    display: inline-block;
    vertical-align:baseline;
    /* line-height: normal; */
  }